@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --border: rgb(75, 75, 78);
}

*{
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(46, 45, 48);
    color: white;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.counters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
}

.counters > * {
    padding: 8px;
    font-size: 1.5em;
}

p > span:hover {
    color: rgb(176, 202, 236);
    cursor: pointer;
}

.button:hover {
    cursor: pointer;

}

.user-btn {
    color: var(--border);
    background-color: white;
    border-radius: 10px;
    padding: 4px;
    margin: 4px;
}

.user-btn:hover {
    background-color: rgb(46, 73, 160);
    border-color: rgb(30, 72, 128);
    cursor: pointer;
    color:white;
}

.current-player{
    margin-top: 100px;
    font-size: 3em;
    color: rgb(42, 47, 53);
    background-color: white;
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 8px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-out{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-out > * {
    padding: 4px;
}

.spend-tickets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.log-out{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    font-size: 5em;
    color: rgb(42, 47, 53);
    padding: 8px;
    width: 100%;
    text-align: center;
    border-radius: 0 0 12px 12px;
    border-bottom: 2px solid var(--border);
    background-color: var(--border);
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    background-color: var(--border);
    color: rgb(213, 217, 224);
}

.hidden {
    display: none;
}